<launch>

  <rosparam command="load" file="$(find hc10_moveit_config)/config/sensors_kinect.yaml" />

  <!-- Load the robot specific sensor manager; this sets the moveit_sensor_manager ROS parameter -->
 <param name="octomap_frame" type="string" value="odom_combined" />
<param name="octomap_resolution" type="double" value="0.05" />
<param name="max_range" type="double" value="5.0" />


</launch>
